In [2]:
import pandas as pd

## Sarcina 1: Foloseste KNearestNeighbor de la sklearn pentru prezicerea ratei de dezabonare a clientilor unei companii de telecom

**Incarcam setul de date.**

In [ ]:
# !mkdir data && curl -o data/adult.data.csv -LJO https://github.com/dianaartiom/machine_learning_with_python/raw/main/lesson03/notebooks/data/adult.data.csv

In [3]:
dataset = pd.read_csv("../../lesson03/notebooks/data/telecom_churn.csv")
dataset.head()

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,KS,128,415,No,Yes,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False
1,OH,107,415,No,Yes,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
2,NJ,137,415,No,No,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False
3,OH,84,408,Yes,No,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False
4,OK,75,415,Yes,No,0,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False

**Pentru coloana *Voice mail plan* schimba valorile din No/Yes in 0/1**

In [4]:
d = {"No": 0, "Yes": 1}
dataset = dataset.replace({"Voice mail plan": d})

**Extrage setul de date X din dataframe (dataset) folosind doar caracteristicile numerice (e.g. "Voice mail plan", "Number vmail messages", "Total day minutes", "Total day calls", "Total eve minutes", "Total eve calls", "Total night minutes", "Total night calls", "Total intl minutes", "Total intl calls", "Customer service calls")**

**Caracteristica target este *Churn*.**

In [5]:
features = ["Voice mail plan", "Number vmail messages", "Total day minutes", "Total day calls", "Total eve minutes", "Total eve calls", "Total night minutes", "Total night calls", "Total intl minutes", "Total intl calls", "Customer service calls"]
X = dataset[features]
y = dataset["Churn"]
X.head()

,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total eve minutes,Total eve calls,Total night minutes,Total night calls,Total intl minutes,Total intl calls,Customer service calls
0,1,25,265.1,110,197.4,99,244.7,91,10.0,3,1
1,1,26,161.6,123,195.5,103,254.4,103,13.7,3,1
2,0,0,243.4,114,121.2,110,162.6,104,12.2,5,0
3,0,0,299.4,71,61.9,88,196.9,89,6.6,7,2
4,0,0,166.7,113,148.3,122,186.9,121,10.1,3,3

**Imparte setul de date in: date si label de antrenare, date si labbel de test. Foloseste functia *train_test_split* din *sklearn*.**

In [7]:
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split

X_train, X_test, Y_train, Y_test = train_test_split(X, y, test_size=0.3, random_state=42) # seed to reproduce the randomness

**Importa din sklearn modelul KNearestNeighbor, antreneaza-l cu ajutorul metodei *fit()* si prezice valorile pentru X_test.**

In [12]:
import time
from sklearn.neighbors import KNeighborsClassifier

start = time.time()
knn_model = KNeighborsClassifier(n_neighbors=5)
knn_model.fit(X_train, Y_train)

y_hat = knn_model.predict(X_test)
end = time.time()
print("Time taken: ", end - start)

Time taken:  0.06202101707458496

**Care este acuratetea modelului obtinut? Poti folosi functia *accuracy_score()* de la *sklearn*.**

In [13]:

print("Accuracy: ", accuracy_score(Y_test, y_hat))

Accuracy:  0.89

## Sarcina 2: Foloseste propria ta implementare KNearestNeighbor pentru prezicerea ratei de dezabonare a clientilor unei companii de telecom. Compara timpul luat de modelul tau cu timpul luat de libraria sklearn