## Numere

In [1]:
2+1

3

In [2]:
2-1

1

In [3]:
2*2

4

In [4]:
4/2

2.0

## Operatorul Modulo sau "Mod"

In [5]:
7 % 4

3

In [6]:
50 % 5

0

In [7]:
23 % 2

1

In [8]:
20 % 2

0

## Puterea

In [9]:
2 ** 3

8

## Atribuirea variabilelor

In [10]:
a = 5

In [11]:
a

5

In [12]:
a + a

10

In [13]:
a = a + a

In [14]:
a

10

In [15]:
type(a)

int

In [16]:
a = 30.1

In [17]:
type(a)

float

In [18]:
my_income = 1000

tax_rate = 0.1

my_taxes = my_income * tax_rate

In [19]:
my_taxes

100.0

## Strings

In [20]:
'hello'

'hello'

In [21]:
"world"

'world'

In [22]:
'this is also a string'

'this is also a string'

In [23]:
print("hello")

hello

In [24]:
print("hello \nworld")

hello
world

In [25]:
print("hello \t world")

hello 	 world

In [26]:
len('hello')

5

## Indexing and Slicing with Strings

In [27]:
mystring = "Hello World"

In [28]:
mystring

'Hello World'

In [29]:
mystring[0]

'H'

In [30]:
mystring[8]

'r'

In [31]:
mystring[9]

'l'

In [32]:
mystring[-2]

'l'

In [33]:
mystring = 'abcdefjklk'

In [34]:
mystring

'abcdefjklk'

In [35]:
mystring[2:]

'cdefjklk'

In [36]:
mystring[:3]

'abc'

In [37]:
mystring[3:6]

'def'

In [38]:
mystring[1:3]

'bc'

In [39]:
mystring[::]

'abcdefjklk'

In [40]:
mystring[::2]

'acejl'

In [41]:
mystring[2:7:2]

'cej'

In [42]:
mystring[::-1]

'klkjfedcba'

## String Properties & Methods

## Immutable

In [1]:
name = "Sam"

In [2]:
name

'Sam'

In [3]:
# name[0] = "P" you can't change the character in strings, it'll return error

In [46]:
last_letters = name[1:]

In [47]:
last_letters

'am'

In [48]:
"P" + last_letters

'Pam'

In [49]:
x = 'Hello World'

In [50]:
x = x + " it is beautiful outside!"

In [51]:
x

'Hello World it is beautiful outside!'

In [52]:
letter = 'Z'
letter * 10

'ZZZZZZZZZZ'

In [53]:
'2' + '3'

'23'

In [54]:
# when a number is a string, you can't perform the mathematical function instead it's concatenation the word 2 + 3 is 23

In [55]:
x = 'Hello World'

In [56]:
x.upper()

'HELLO WORLD'

In [57]:
x.upper

In [58]:
# you need to make sure you have open and close paranthesis otherwise python will just tell you that it's a function but don't do anything with it

In [59]:
x.lower()

'hello world'

In [60]:
x.split()

['Hello', 'World']

In [61]:
x = 'Hi this is a string'

In [62]:
x.split()

['Hi', 'this', 'is', 'a', 'string']

In [63]:
x.split('i')

['H', ' th', 's ', 's a str', 'ng']

## Formatting with the .format() method

A good way to format objects into your strings for print statements is with the string.format() method. The syntax is:
'String here {} then also {}'.format('something1', 'something2')

In [64]:
print('This is a string {}'.format('INSERTED'))

This is a string INSERTED

In [65]:
print('The {2} {1} {0}'.format('fox', 'brown', 'quick'))

The quick brown fox

In [66]:
print('The {0} {0} {0}'.format('fox', 'brown', 'quick'))

The fox fox fox

In [67]:
print('The {q} {b} {f}'.format(f='fox', b='brown', q='quick'))

The quick brown fox

## Float formatting follows "{value:width.precision f}"

In [68]:
result = 100/777

In [69]:
result = 104.12345

In [70]:
print('The result was {}'.format(result))

The result was 104.12345

In [71]:
print('The result was {r:1.3f}'.format(r=result))

The result was 104.123

In [72]:
name = "Diana"

In [73]:
print('Hello, her name is {}'.format(name))

Hello, her name is Diana

In [74]:
# You can also do it this way

In [75]:
print(f'Hello, her name is {name}')

Hello, her name is Diana

In [76]:
name = "Artiom"
age = 3

In [77]:
print(f'{name} is {age} years old')

Artiom is 3 years old

## Lists

In [78]:
my_list = [1,2,3]

In [79]:
my_list

[1, 2, 3]

In [80]:
my_list = ["String", 12.45, 4]

In [81]:
my_list

['String', 12.45, 4]

In [82]:
len(my_list)

3

In [83]:
my_list = ["one", "two", "three"]

In [84]:
my_list[0]

'one'

In [85]:
my_list[1:]

['two', 'three']

In [86]:
another_list = ["four", "five"]

In [87]:
new_list = my_list + another_list

In [88]:
new_list

['one', 'two', 'three', 'four', 'five']

In [89]:
new_list[0] = "ONE ALL CAPS"

In [90]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five']

In [91]:
new_list.append('six')

In [92]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'six']

In [93]:
new_list.append('seven')

In [94]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'six', 'seven']

In [95]:
new_list.pop

In [96]:
new_list.pop()

'seven'

In [97]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'six']

In [98]:
popped_item = new_list.pop()

In [99]:
popped_item

'six'

In [100]:
new_list.pop(0)

'ONE ALL CAPS'

In [101]:
new_list

['two', 'three', 'four', 'five']

In [102]:
new_list = ['a', 'e', 'd', 'x', 'b']
num_list = [4,1,3,6]

In [103]:
new_list.sort()

In [104]:
new_list

['a', 'b', 'd', 'e', 'x']

In [105]:
new_list.sort()
my_sorted_list = new_list

In [106]:
my_sorted_list

['a', 'b', 'd', 'e', 'x']

In [107]:
num_list

[4, 1, 3, 6]

In [108]:
num_list.sort()

In [109]:
num_list

[1, 3, 4, 6]

In [110]:
num_list.reverse()

In [111]:
num_list

[6, 4, 3, 1]

## Dictionaries

In [112]:
my_dict = {'key1':'value1', 'key2':'value2'}

In [113]:
my_dict

{'key1': 'value1', 'key2': 'value2'}

In [114]:
my_dict['key1']

'value1'

In [115]:
prices_lookup = {'apple':'2.99', 'oranges':'2.50', 'durian':'4.99'}

In [116]:
prices_lookup['durian']

'4.99'

In [117]:
d = {'k1':123, 'k2':[0,1,2], 'k3':{'insideKey':100}}

In [118]:
d['k2'][2]

2

In [119]:
d['k3']['insideKey']

100

In [120]:
d = {'key1':['a','b','c']}

In [121]:
my_list = d['key1']

In [122]:
my_list

['a', 'b', 'c']

In [123]:
letter = my_list[2]

In [124]:
letter

'c'

In [125]:
letter.upper()

'C'

In [126]:
d

{'key1': ['a', 'b', 'c']}

In [127]:
d['key1'][2].upper()

'C'

In [128]:
d = {'k1': 100, 'k2': 200}

In [129]:
d

{'k1': 100, 'k2': 200}

In [130]:
d['k3'] = 300

In [131]:
d

{'k1': 100, 'k2': 200, 'k3': 300}

In [132]:
d['k1'] = 'NEW VALUES'

In [133]:
d

{'k1': 'NEW VALUES', 'k2': 200, 'k3': 300}

In [134]:
d = {'k1': 100, 'k2': 200, 'k3': 300}

In [135]:
d.keys()

dict_keys(['k1', 'k2', 'k3'])

In [136]:
d.values()

dict_values([100, 200, 300])

In [137]:
d.items()

dict_items([('k1', 100), ('k2', 200), ('k3', 300)])

## Tuples with Python

In [138]:
t = (1,2,3)

In [139]:
mylist = [1,2,3]

In [140]:
type(t)

tuple

In [141]:
type(mylist)

list

In [142]:
t = ("one", 2)

In [143]:
t

('one', 2)

In [144]:
t[0]

'one'

In [145]:
t = ('a', 'a', 'b')

In [146]:
t.count('a')

2

In [147]:
t.index('b')

2

In [148]:
t

('a', 'a', 'b')

In [149]:
mylist

[1, 2, 3]

In [150]:
mylist[0] = 'NEW'

In [151]:
mylist

['NEW', 2, 3]

## Sets

In [152]:
myset = set()

In [153]:
myset

set()

In [154]:
myset.add(1)

In [155]:
myset

{1}

In [156]:
myset.add(2)

In [157]:
myset

{1, 2}

In [158]:
mylist = [1,1,1,1,2,2,2,2,3,3,3,3,3]

In [159]:
set(mylist)

{1, 2, 3}

In [160]:
#a set can only contains 1 unique value each

## Booleans

In [161]:
True

True

In [162]:
False

False

In [163]:
1 > 2

False

In [164]:
1 == 1

True

In [165]:
type(False)

bool

In [166]:
b = None

In [167]:
b

In [168]:
2 == 2

True

In [169]:
2 == 1

False

In [170]:
'hello' == 'bye'

False

In [171]:
'Bye' == 'bye'

False

In [172]:
'2' == 2

False

In [173]:
2.0 == 2

True

In [174]:
3 != 3

False

In [175]:
1 > 2

False

In [176]:
2<= 2

True

In [177]:
2 <= 2

True

## Chaining Comparison Operators

In [178]:
1 < 2

True

In [179]:
2 < 3

True

In [180]:
1 < 2 < 3

True

In [181]:
1 < 2 and 2 > 3

False

In [182]:
'h' == 'h' and 2 == 2

True

In [183]:
100 == 1 or 2 == 2

True

In [184]:
1 == 1

True

In [185]:
not(1==1)

False

## If, elif, else Statements

In [186]:
hungry = True

if hungry:
    print('Feed me')
else:
    print('im not hungry')

Feed me

In [187]:
loc = 'Auto Shop'

if loc == 'Auto Shop':
    print('Cars are Cool!') 
elif loc == 'Bank':
    print('Welcome to the store!')
else:
    print('I do not know much')

Cars are Cool!

In [188]:
name = 'Jose'

if name == 'Frankie':
    print('Hello Frankie')
elif name == 'Sammy':
    print('Hello Sammy')
else:
    print('What is your name?')

What is your name?

## For Loops in Python

In [189]:
mylist = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
for num in mylist:
    print(num) # you can use any variable name, not just num

1
2
3
4
5
6
7
8
9
10

In [190]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [191]:
for num in mylist:
    print('hello')

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

In [192]:
for num in mylist:
    #check for even
    if num % 2 == 0:
        print(num)
    else:
        print(f'Odd Number:{num}')

Odd Number:1
2
Odd Number:3
4
Odd Number:5
6
Odd Number:7
8
Odd Number:9
10

In [193]:
list_sum = 0

for num in mylist:
    list_sum = list_sum + num

print(list_sum)

55

In [194]:
mystring = 'Hello World'

for letter in mystring:
    print(letter)

H
e
l
l
o

W
o
r
l
d

In [195]:
tup = (1,2,3)

for item in tup:
    print(item)

1
2
3

In [196]:
mylist = [(1,2), (3,4), (5,6), (7,8)]

In [197]:
len(mylist)

4

In [198]:
for item in mylist:
    print(item)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

In [199]:
for a, b in mylist:
    print(a)

1
3
5
7

In [200]:
mylist = [(1,2,3), (4,5,6), (7,8,9)]

for a, b, c in mylist:
    print(c)

3
6
9

In [201]:
d = {'k1': 1, 'k2': 2, 'k3': 3}

for item in d:
    print(item)

k1
k2
k3

In [202]:
d = {'k4': 4, 'k5' : 5, 'k6' : 6}

for key, value in d.items():
    print(value)

4
5
6

## While Loops in Python

In [203]:
x = 0

while x < 5:
    print(f'The current value of x is {x}')
    x = x + 1
    x += 1
else:
    print("X is not less than 5")

The current value of x is 0
The current value of x is 2
The current value of x is 4
X is not less than 5

In [204]:
x = [1,2,3]

for item in x:
    pass
print('End of my script')

End of my script

In [205]:
mystring = 'Sammy'

In [206]:
for letter in mystring:
    if letter == 'a':
        continue
    
    print(letter)

S
m
m
y

In [207]:
for letter in mystring:
    if letter == 'a':
        break
    print(letter)

S

In [208]:
x = 0

while x < 5:
    
    if x == 2:
        break
    print(x)
    x += 1

0
1

## Useful Operators in Python

In [209]:
mylist = [1,2,3]

In [210]:
for num in range (0,11,2):
    print(num)

0
2
4
6
8
10

In [211]:
index_count = 0
word = 'abcde'

for letter in word:
    
    print(word[index_count])
    index_count += 1

a
b
c
d
e

In [212]:
# can be done this way too

In [213]:
word = 'abcde'

for item in enumerate(word):
    print(item)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

In [214]:
mylist1 = [1,2,3]
mylist2 = ['a','b','c']

In [215]:
for item in zip(mylist1, mylist2):
    print(item)

(1, 'a')
(2, 'b')
(3, 'c')

In [216]:
list(zip(mylist1, mylist2))

[(1, 'a'), (2, 'b'), (3, 'c')]

In [217]:
d = {'mykey': 345}

345 in d.keys()

False

In [218]:
from random import shuffle

In [219]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [220]:
shuffle(mylist)

In [221]:
mylist

[3, 8, 9, 1, 10, 6, 5, 2, 7, 4]

In [222]:
from random import randint

In [223]:
randint(0,100)

100

In [224]:
result = input('What is your favorite number:')

What is your favorite number:3

In [225]:
result

'3'

## List Comprehensions in Python

In [226]:
mystring = 'hello'

In [227]:
mylist = []

for letter in mystring:
    mylist.append(letter)

In [228]:
mylist

['h', 'e', 'l', 'l', 'o']

In [229]:
mylist = []

for letter in mystring:
    mylist.append(letter) # it is also the same if you do it this way, check below

In [230]:
mylist = [letter for letter in mystring]

In [231]:
mylist

['h', 'e', 'l', 'l', 'o']

In [232]:
mylist = [x for x in 'word']

In [233]:
mylist

['w', 'o', 'r', 'd']

In [234]:
mylist = [num for num in range(0,11)]

In [235]:
mylist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [236]:
mylist = [num**2 for num in range(0,11)]

In [237]:
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [238]:
mylist = [x**2 for x in range(0,11) if x%2==0]

In [239]:
mylist

[0, 4, 16, 36, 64, 100]

In [240]:
celcius = [0,10,20,35.4]

fahrenheit = [( (9/5)*temp + 32) for temp in celcius]

In [241]:
fahrenheit

[32.0, 50.0, 68.0, 95.72]

In [242]:
# you can also do it this way

In [243]:
fahrenheit = []

for temp in celcius:
    fahrenheit.append(((9/5)*temp + 32))

In [244]:
fahrenheit

[32.0, 50.0, 68.0, 95.72]

In [245]:
mylist = [1,2,3]
mylist.append(4)
mylist

[1, 2, 3, 4]

In [246]:
mylist.pop()

4

In [247]:
mylist

[1, 2, 3]

In [248]:
help(mylist.insert)

Help on built-in function insert:

insert(index, object, /) method of builtins.list instance
    Insert object before index.

### Functions in Python

In [249]:
def name_function():
    '''
    DOCSTRING: Information about the function
    INPUT: no input...
    OUTPUT: no output...
    '''
    print('Hello')

In [250]:
help(name_function)

Help on function name_function in module __main__:

name_function()
    DOCSTRING: Information about the function
    INPUT: no input...
    OUTPUT: no output...

In [251]:
def say_hello(name='NAME'):
    print('hello ' + name)

In [252]:
say_hello('David')

hello David

In [253]:
def say_hello(name='NAME'):
    return 'hello '+name

In [254]:
result = say_hello('Jose')

In [255]:
result

'hello Jose'

In [256]:
def add(n1, n2):
    return n1+n2

In [257]:
result = add(20,30)

In [258]:
result

50

In [259]:
def dog_check(mystring):
    if 'dog' in mystring:
        return True
    else:
        return False

In [260]:
dog_check('My cat ran away')

False

In [261]:
dog_check('My dog ran away')

True

In [262]:
# you actually don't need to specify the if statement because 'dog' in 'dog ran away' will return True statement

In [263]:
def dog_check(mystring):
    return 'dog' in mystring.lower()

In [264]:
dog_check('Your dog ran away')

True

### Pig Latin

- If word starts with a vowel, add 'ay'to end
- If word does not start with a vowel, put first letter at the end, then add 'ay'
- word --> ordway
- apple --> appleay

In [265]:
def pig_latin(word):
    
    first_letter = word[0]
    
    # Check if vowel
    if first_letter in 'aeiou':
        pig_word = word + 'ay'
    else:
        pig_word = word[1:] + first_letter + 'ay'
        
    return pig_word

In [266]:
pig_latin('apple')

'appleay'

#### Lambda Expressions, Map, and Filter Functions

In [5]:
def square(num):
    return num**2

In [6]:
my_nums = [1, 2, 3, 4, 5]

In [7]:
map(square, my_nums)

In [8]:
for item in map(square, my_nums):
    print(item)

1
4
9
16
25

In [9]:
list(map(square, my_nums))

[1, 4, 9, 16, 25]

In [10]:
def splicer(mystring):
    if len(mystring)%2 == 0:
        return 'EVEN'
    else:
        return mystring[0]

In [11]:
names = ['Andy', 'Eve', 'Sally']

In [12]:
list(map(splicer, names))

['EVEN', 'E', 'S']

In [14]:
def check_even(num):
    return num % 2 == 0

In [15]:
mynums = [1,2,3,4,5,6]

In [16]:
# https://docs.python.org/3/library/functions.html#filter

list(filter(check_even, mynums))

[2, 4, 6]

In [278]:
for n in filter(check_even, mynums):
    print(n)

2
4
6

In [279]:
def square(num):
    result = num ** 2
    return result

In [280]:
square(3)

9

In [281]:
square = lambda num: num ** 2

In [282]:
square(5)

25

In [283]:
list(map(lambda num: num ** 2, mynums))

[1, 4, 9, 16, 25, 36]

In [284]:
list(filter(lambda num:num%2 == 0, mynums))

[2, 4, 6]

In [285]:
list(map(lambda x:x[0], names))

['A', 'E', 'S']

In [286]:
# if i want to reverse the name
list(map(lambda x:x[::-1], names))

['ydnA', 'evE', 'yllaS']

#### Nested Statements and Scope

In [287]:
x = 25

def printer():
    x = 50
    return x

In [288]:
print(x)

25

In [289]:
print(printer())

50

LEGB Rule:
- L: Local - Names assigned in any way within a function (def or lambda), and not declared global in that function.
- E: Enclosing function locals - Names in the local scope of any and all enclosing functions (def or lambda), from inner to outer.
- G: Global (module) - Names assigned at the top-level of a module file, or declared global in a def within the file. 
- B: Built-In (Python) - Names preassigned in the built-in names module: open, range, SyntaxError,...

In [290]:
# Lambda num:num **2

In [291]:
# GLOBAL
name = 'THIS IS A GLOBAL STRING'

def greet():
    
    # ENCLOSING
    name = 'Sammy'
    
    def hello():
        # LOCAL
        name = 'I AM A LOCAL'
        print('Hello '+name)
        
    hello()

greet()

Hello I AM A LOCAL

In [292]:
len

In [293]:
x = 50

def func(x):
    print(f'X is {x}')
    
    # LOCAL REASSIGNMENT! 
    x = 200
    
    print(f'I JUST LOCALLY CHANGED X TO {x}')

In [294]:
func(x)

X is 50
I JUST LOCALLY CHANGED X TO 200

In [295]:
x = 50

def func():
    global x
    print(f'X is {x}')
    
    # LOCAL REASSIGNMENT ON A GLOBAL VARIABLE!
    x = 'NEW VALUE'
    print(f'I JUST LOCALLY CHANGED GLOBAL X TO {x}')

In [296]:
print(x)

50

In [297]:
func()

X is 50
I JUST LOCALLY CHANGED GLOBAL X TO NEW VALUE

In [298]:
print(x)

NEW VALUE

####  *args and **kwargs

In [299]:
# *args is argument and *kwargs is keyword argument

In [300]:
def myfunc(a,b):
    # Return 5% of the sum of a and b
    return sum ((a,b)) * 0.05

In [301]:
myfunc(40,60)

5.0

In [302]:
def myfunc(*args):
    return sum(args) * 0.05

In [303]:
myfunc(40,60,100, 1, 345)

27.3

In [304]:
# *args allows you to pass the parameter to the function as many as you want

In [305]:
def myfunc(**kwargs):
    print(kwargs)
    if 'fruit' in kwargs:
        print('My fruit choice is {}'.format(kwargs['fruit']))
    else:
        print('I did not find any fruit here')

In [306]:
myfunc(fruit='apple', veggie = 'lettuce')

{'fruit': 'apple', 'veggie': 'lettuce'}
My fruit choice is apple

#### Attributes and Class Keyword

In [307]:
mylist = [1,2,3]

In [308]:
myset = set()

In [309]:
type(myset)

set

In [310]:
type(mylist)

list

In [311]:
class Sample():
    pass

In [312]:
my_sample = Sample()

In [313]:
type(my_sample)

__main__.Sample

In [314]:
class Dog():
    
    def __init__(self, breed):
        
        self.breed = breed

In [315]:
my_dog = Dog(breed='Lab')

In [316]:
type(my_dog)

__main__.Dog

In [317]:
my_dog.breed

'Lab'

In [318]:
class Dog():
    
    def __init__(self, mybreed):
        
        # Attributes
        # We take in the argument
        # We assign it using self.attribute_name
        self.my_attribute = mybreed

In [319]:
my_dog = Dog(mybreed ='Huskie')

In [320]:
type(my_dog)

__main__.Dog

In [321]:
my_dog.my_attribute

'Huskie'

In [322]:
class Dog():
    
    def __init__(self, breed, name, spots):
        
        # Attributes
        # We take in the argument
        # We assign it using self.attribute_name
        self.breed = breed
        self.name = name
        
        # Expects boolean True/False
        self.spots = spots

In [323]:
my_dog = Dog(breed = 'Chihuahua', name = 'Bonnie', spots = True)

In [324]:
type(my_dog)

__main__.Dog

In [325]:
my_dog.breed

'Chihuahua'

In [326]:
my_dog.name

'Bonnie'

In [327]:
my_dog.spots

True

#### Class Object Attributes and Methods

In [328]:
class Dog():
    
    # Class object attribute
    # Same for any instance of a class
    species = 'Mammal'
   
    def __init__(self, breed, name, spots):
        
        # Attributes
        # We take in the argument
        # We assign it using self.attribute_name
        self.breed = breed
        self.name = name
        
        # Expects boolean True/False
        self.spots = spots

In [329]:
my_dog = Dog(breed = 'Lab', name = 'Haus', spots = False)

In [330]:
type(my_dog)

__main__.Dog

In [331]:
my_dog.species

'Mammal'

In [332]:
my_dog.breed

'Lab'

In [333]:
my_dog.name

'Haus'

In [334]:
class Dog():
    
    # Class object attribute
    # Same for any instance of a class
    species = 'Mammal'
   
    def __init__(self, breed, name):
        
        # Attributes
        # We take in the argument
        # We assign it using self.attribute_name
        self.breed = breed
        self.name = name
        
    # Operations/Actions ----> Methods
    def bark(self, number):
        print('WOOF! My name is {} and the number is {}'.format(self.name, number))

In [335]:
my_dog = Dog('Lab', 'Frankie')

In [336]:
type(my_dog)

__main__.Dog

In [337]:
my_dog.species

'Mammal'

In [338]:
my_dog.name

'Frankie'

In [339]:
my_dog.bark(10)

WOOF! My name is Frankie and the number is 10

In [340]:
class Circle():
    
    # CLASS OBJECT ATTRIBUTE
    pi = 3.14
    
    def __init__(self, radius=1):
        
        self.radius = radius
        self.area = radius*radius*self.pi
        
    # METHOD
    def get_circumference(self):
        return self.radius * self.pi * 2

In [341]:
my_circle = Circle(30)

In [342]:
my_circle.pi

3.14

In [343]:
my_circle.radius

30

In [344]:
my_circle.area

2826.0

In [345]:
my_circle.get_circumference()

188.4

#### Inheritance

In [346]:
class Animal():
    
    def __init__(self):
        print('ANIMAL CREATED')
        
    def who_am_i(self):
        print('I am an animal')
    def eat(self):
        print('I am eating')

In [347]:
myanimal = Animal()

ANIMAL CREATED

In [348]:
myanimal.eat()

I am eating

In [349]:
myanimal.who_am_i()

I am an animal

In [350]:
class Dog(Animal):
    
    def __init__(self):
        Animal.__init__(self)
        print('Dog Created')
    
    def eat(self):
        print('I am a dog and eating')
        
    def bark(self):
        print('WOOF')

In [351]:
mydog = Dog()

ANIMAL CREATED
Dog Created

In [352]:
mydog.eat()

I am a dog and eating

In [353]:
mydog.who_am_i()

I am an animal

In [354]:
mydog.bark()

WOOF

#### Special (Magic/Dunder) Methods

In [355]:
class Book():
    
    def __init__(self, title, author, pages):
        
        self.title = title
        self.author = author
        self.pages = pages
        
    def __str__(self):
        return f"{self.title} by {self.author}"
    
    def __len__(self):
        return self.pages
    
    def __del__(self):
        print('A book object has been deleted')

In [356]:
b = Book('Python rocks', 'Jose', 200)

In [357]:
print(b)

Python rocks by Jose

In [358]:
len(b)

200

In [359]:
del b

A book object has been deleted

In [360]:
b

NameError: name 'b' is not defined

In [361]:
def add(n1, n2):
    print(n1+n2)

In [362]:
add(10, 20)

30

In [363]:
number1 = 10

In [366]:
number2 = input("Please provide a number: ")

Please provide a number: 2

In [367]:
add(number1, number2)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [368]:
try:
    # Want to attempt this code
    # May have an error
    result = 10 + 10
except:
    print("Hey it looks like you aren't adding correctly!")
else:
    print("Add went well!")
    print(result)

Add went well!
20

In [369]:
result

20

In [370]:
try:
    f = open('testfile', 'r')
    f.write('Write a test line')
except TypeError:
    print("There was a type error!")
except OSError:
    print('Hey you have an OS Error')
finally:
    print('I always run')

Hey you have an OS Error
I always run

In [371]:
def ask_for_int():
    
    while True:
        
        try:
            result = int(input("Please provide number: "))
        except:
            print("Whoops! That is not a number")
            continue
        else:
            print("Yes thank you")
            break

In [372]:
ask_for_int()

Please provide number:
Whoops! That is not a number
Please provide number:
Whoops! That is not a number
Please provide number:
Whoops! That is not a number
Please provide number: 3
Yes thank you

In [373]:
def func():
    return 1

In [374]:
func()

1

In [375]:
def hello():
    return 'Hello!'

In [376]:
hello()

'Hello!'

In [377]:
greet = hello

In [378]:
greet()

'Hello!'

In [379]:
del hello

In [380]:
hello()

NameError: name 'hello' is not defined

In [381]:
greet()

'Hello!'

In [382]:
def hello(name='Jose'):
    print('The hello() function has been executed!')
    
    def greet():
        return '\t This is the greet() func inside hello!'
    
    def welcome():
        return '\t this is welcome() func inside hello!'
    
    print("I am going to return a function! !")
    
    if name == 'Jose':
        return greet
    else:
        return welcome

In [383]:
my_new_func = hello('Jose')

The hello() function has been executed!
I am going to return a function! !

In [384]:
print(my_new_func())

	 This is the greet() func inside hello!

In [385]:
def cool():
    
    def super_cool():
        return 'I am very cool!'
    
    return super_cool

In [386]:
some_func = cool()

In [387]:
some_func

In [388]:
def hello():
    return 'Hi Jose!'

In [389]:
def other(some_def_func):
    print('Other code runs here!')
    print(some_def_func())

In [390]:
hello

In [391]:
hello()

'Hi Jose!'

In [392]:
other(hello)

Other code runs here!
Hi Jose!

In [393]:
def new_decorator(original_func):
    
    def wrap_func():
        
        print('Some extra code, before the original function')
        
        original_func()
        
        print('Some extra code, after the original function!')
        
    return wrap_func

In [394]:
def func_needs_decorator():
    print("I want to be decorated!")

In [395]:
func_needs_decorator()

I want to be decorated!

In [396]:
decorated_func = new_decorator(func_needs_decorator)

In [397]:
decorated_func()

Some extra code, before the original function
I want to be decorated!
Some extra code, after the original function!

In [398]:
@new_decorator
def func_needs_decorator():
    print("I want to be decorated!")

In [399]:
func_needs_decorator()

Some extra code, before the original function
I want to be decorated!
Some extra code, after the original function!

In [400]:
def create_cubes(n):
    result = []
    for x in range(n):
        result.append(x**3)
    return result

In [401]:
list(create_cubes(10))

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

In [402]:
def gen_fibon(n):
    a = 1
    b = 1
    for i in range(n):
        yield a
        a, b = b, a+b

In [403]:
for number in gen_fibon(10):
    print(number)

1
1
2
3
5
8
13
21
34
55

In [404]:
def simple_gen():
    for x in range(3):
        yield x

In [405]:
for number in simple_gen():
    print(number)

0
1
2

In [406]:
g = simple_gen()

In [407]:
g

In [408]:
print(next(g))

0

In [409]:
print(next(g))

1

In [410]:
s = 'hello'

In [411]:
for letter in s:
    print(letter)

h
e
l
l
o

In [412]:
s_iter = iter(s)

In [413]:
next(s_iter)

'h'

In [414]:
next(s_iter)

'e'

### Collections Module - Counter

In [415]:
# counter
from collections import Counter

In [417]:
l = [1,1,1,1,1,1,12,12,2,2,2,23,3,3,3,4,4,4,44]
Counter(l)

Counter({1: 6, 12: 2, 2: 3, 23: 1, 3: 3, 4: 3, 44: 1})

In [418]:
s = 'sgoadgjksnfkjskjdnfksjdfnksdjfnksdjn'
Counter(s)

Counter({'s': 6,
         'g': 2,
         'o': 1,
         'a': 1,
         'd': 5,
         'j': 6,
         'k': 6,
         'n': 5,
         'f': 4})

In [419]:
s = 'How many times does each word show up in this sentence show show up up and tell me me me'
words = s.split()

Counter(words)

Counter({'How': 1,
         'many': 1,
         'times': 1,
         'does': 1,
         'each': 1,
         'word': 1,
         'show': 3,
         'up': 3,
         'in': 1,
         'this': 1,
         'sentence': 1,
         'and': 1,
         'tell': 1,
         'me': 3})

In [420]:
c = Counter(words)
c.most_common(2)

[('show', 3), ('up', 3)]

In [421]:
sum(c.values())

20

### Datetime

In [452]:
import datetime

In [453]:
t = datetime.time(5,25,1)

In [454]:
print (t)

05:25:01

In [455]:
t.min

datetime.time(0, 0)

In [456]:
datetime.time

datetime.time

In [457]:
print(datetime.time.min)

00:00:00

In [458]:
print(datetime.time.max)

23:59:59.999999

In [459]:
today = datetime.date.today()

In [460]:
print(today)

2022-04-04

In [461]:
today.timetuple()

time.struct_time(tm_year=2022, tm_mon=4, tm_mday=4, tm_hour=0, tm_min=0, tm_sec=0, tm_wday=0, tm_yday=94, tm_isdst=-1)

In [462]:
today.day

4

In [463]:
print(datetime.date.min)

0001-01-01

In [464]:
d1 = datetime.date(2015, 3, 11)
print(d1)

2015-03-11

In [465]:
d2 = d1.replace(year=1990)

In [466]:
d2

datetime.date(1990, 3, 11)

In [467]:
d1-d2

datetime.timedelta(days=9131)

### Timing your code - timeit module

In [470]:
import timeit

In [471]:
'0-1-2-3-....-99'

'0-1-2-3-....-99'

In [472]:
timeit.timeit('"-".join(str(n) for n in range(100))',number=10000)

0.20155379100003756

In [473]:
timeit.timeit('"-".join([str(n) for n in range(100)])',number=10000)

0.18204298199998448

In [474]:
%timeit "-".join(str(n) for n in range(100))

18 s  648 ns per loop (mean  std. dev. of 7 runs, 100000 loops each)

In [475]:
%timeit "-".join([str(n) for n in range(100)])

16.1 s  1.07 s per loop (mean  std. dev. of 7 runs, 100000 loops each)

### Regular Expressions

In [476]:
import re

In [477]:
patterns = ['term1', 'term2']

In [478]:
text = 'This is a string with term1, but not the other term'

In [479]:
for pattern in patterns:
    print('Searching for "%s" in:\n "%s"\n' %(pattern,text))
    
    #Check for match
    if re.search(pattern,text):
        print('Match was found. \n')
    else:
        print('No Match was found.\n')

Searching for "term1" in:
 "This is a string with term1, but not the other term"

Match was found.

Searching for "term2" in:
 "This is a string with term1, but not the other term"

No Match was found.

In [480]:
print(re.search('h', 'w'))

None

In [481]:
match = re.search(patterns[0],text)

In [482]:
type(match)

re.Match

In [483]:
match.start()

22

In [484]:
match.end()

27

In [485]:
split_term = '@'

phrase = 'What is your email, is it hello@gmail.com?'

In [486]:
re.split(split_term, phrase)

['What is your email, is it hello', 'gmail.com?']

In [487]:
'hello world'.split()

['hello', 'world']

In [488]:
re.findall('match', 'Here is one match, here is another match')

['match', 'match']

In [489]:
def multi_re_find(patterns,phrase):
    '''
    Takes in a list of regex patterns
    Prints a list of all matches
    '''
    for pattern in patterns:
        print('Searching the phrase using the re check: %r' %(pattern))
        print(re.findall(pattern,phrase))
        print('\n')

In [490]:
test_phrase = 'sdsd..sssddd...sdddsddd...dsds...dsssss...sdddd'

test_patterns = [ 'sd*',     # s followed by zero or more d's
                'sd+',          # s followed by one or more d's
                'sd?',          # s followed by zero or one d's
                'sd{3}',        # s followed by three d's
                'sd{2,3}',      # s followed by two to three d's
                ]

multi_re_find(test_patterns,test_phrase)

Searching the phrase using the re check: 'sd*'
['sd', 'sd', 's', 's', 'sddd', 'sddd', 'sddd', 'sd', 's', 's', 's', 's', 's', 's', 'sdddd']


Searching the phrase using the re check: 'sd+'
['sd', 'sd', 'sddd', 'sddd', 'sddd', 'sd', 'sdddd']


Searching the phrase using the re check: 'sd?'
['sd', 'sd', 's', 's', 'sd', 'sd', 'sd', 'sd', 's', 's', 's', 's', 's', 's', 'sd']


Searching the phrase using the re check: 'sd{3}'
['sddd', 'sddd', 'sddd', 'sddd']


Searching the phrase using the re check: 'sd{2,3}'
['sddd', 'sddd', 'sddd', 'sddd']

In [491]:
# character sets
test_phrase = 'sdsd..sssddd...sdddsddd...dsds...dsssss...sdddd'

test_patterns = ['[sd]',    # either s or d
                's[sd]+']   # s followed by one or more s or d

multi_re_find(test_patterns,test_phrase)

Searching the phrase using the re check: '[sd]'
['s', 'd', 's', 'd', 's', 's', 's', 'd', 'd', 'd', 's', 'd', 'd', 'd', 's', 'd', 'd', 'd', 'd', 's', 'd', 's', 'd', 's', 's', 's', 's', 's', 's', 'd', 'd', 'd', 'd']


Searching the phrase using the re check: 's[sd]+'
['sdsd', 'sssddd', 'sdddsddd', 'sds', 'sssss', 'sdddd']

In [492]:
# exclusion
test_phrase = 'This is a string! But it has punctuation. How can we remove it?'

In [ ]:
re.findall('[^!.? ]+',test_phrase)

In [ ]:
# character ranges
test_phrase = 'This is an example sentence. Lets see if we can find some letters.'

test_patterns=['[a-z]+',      # sequences of lower case letters
               '[A-Z]+',      # sequences of upper case letters
               '[a-zA-Z]+',   # sequences of lower or upper case letters
               '[A-Z][a-z]+'] # one upper case letter followed by lower case letters
                
multi_re_find(test_patterns,test_phrase)

In [ ]:
# escape codes
test_phrase = 'This is a string with some numbers 1233 and a symbol #hashtag'

test_patterns=[ r'\d+', # sequence of digits
                r'\D+', # sequence of non-digits
                r'\s+', # sequence of whitespace
                r'\S+', # sequence of non-whitespace
                r'\w+', # alphanumeric characters
                r'\W+', # non-alphanumeric
                ]

multi_re_find(test_patterns,test_phrase)

### Advanced Numbers

In [8]:
hex(12)

'0xc'

In [9]:
hex(1200)

'0x4b0'

In [10]:
bin(12345)

'0b11000000111001'

In [11]:
bin(512)

'0b1000000000'

In [12]:
2**4

16

In [ ]:
#The function pow() takes two arguments, equivalent to x^y

In [13]:
pow(2,4)

16

In [ ]:
pow(2,4,3)

In [ ]:
# absolute number
abs(-3)

In [ ]:
abs(2)

In [14]:
round(3.9)

4

In [15]:
round(3.1232323, 3)

3.123

### Advanced Strings

In [1]:
s = 'hello world'

In [2]:
s.capitalize()

'Hello world'

In [3]:
s.upper()

'HELLO WORLD'

In [4]:
s.lower()

'hello world'

In [5]:
s.count('o')

2

In [6]:
s.find('o')

4

In [7]:
s

'hello world'

In [ ]:
s.center(20, 'z')

In [ ]:
'hello\thi'.expandtabs()

In [ ]:
s = 'hello'

In [18]:
s.isalnum()

False

In [19]:
s.isalpha()

False

In [20]:
s.isspace()

False

In [21]:
s.istitle()

False

In [22]:
s.isupper()

False

In [23]:
'HELLO'.isupper()

True

In [24]:
s.endswith('o')

False

In [25]:
# it's basically the same as 
s[-1] == 'o'

False

In [26]:
s.split('e')

['h', 'llo world']

### Advanced Sets

In [27]:
s = set()

In [28]:
s.add(1)

In [29]:
s.add(2)

In [30]:
s

{1, 2}

In [31]:
s.clear()

In [32]:
s

set()

In [33]:
s = {1,2,3}

In [34]:
sc = s.copy()

In [35]:
sc

{1, 2, 3}

In [36]:
s.add(4)

In [37]:
s

{1, 2, 3, 4}

In [38]:
s.difference(sc)

{4}

In [39]:
s1 = {1,2,3}

In [40]:
s2 = {1,4,5}

In [41]:
s1.difference_update(s2)

In [42]:
s1

{2, 3}

In [43]:
s

{1, 2, 3, 4}

In [44]:
s.discard(2)

In [45]:
s

{1, 3, 4}

In [46]:
s1 = {1,2,3}

In [47]:
s2 = {1,2,4}

In [48]:
s1.intersection(s2)

{1, 2}

In [49]:
s1.intersection_update(s2)

In [50]:
s2

{1, 2, 4}

In [51]:
s1

{1, 2}

In [52]:
s1 = {1,2}
s2 = {1,2,4}
s3 = {5}

In [53]:
s1.isdisjoint(s2)

False

In [54]:
s1.isdisjoint(s3)

True

In [55]:
s1.issubset(s2)

True

In [56]:
s2.issuperset(s1)

True

In [57]:
s1.symmetric_difference(s2)

{4}

In [58]:
s1.union(s2)

{1, 2, 4}

In [59]:
s1.update(s2)

In [60]:
s1

{1, 2, 4}

### Advanced Dictionaries

In [ ]:
d = {'k1':1, 'k2':2}

In [ ]:
{x:x**2 for x in range(10)}

In [ ]:
for k in d.keys():
    print (k)

### Advanced Lists

In [65]:
l = [1,2,3]

In [66]:
l.append(4)

In [67]:
l

[1, 2, 3, 4]

In [68]:
l.count(10)

0

In [69]:
l.count(1)

1

In [70]:
x = [1,2,3]
x.append([4,5])
print (x)

[1, 2, 3, [4, 5]]

In [71]:
x = [1,2,3]
x.extend([4,5])
print(x)

[1, 2, 3, 4, 5]

In [72]:
l

[1, 2, 3, 4]

In [73]:
l.index(2)

1

In [74]:
l.index(20)

ValueError: 20 is not in list

In [75]:
l.insert(2, 'inserted')

In [76]:
l

[1, 2, 'inserted', 3, 4]

In [77]:
ele = l.pop()

In [78]:
ele

4

In [79]:
l

[1, 2, 'inserted', 3]

In [80]:
l.remove('inserted')

In [81]:
l

[1, 2, 3]

In [82]:
l = [1,2,3,4,3]

In [83]:
l.remove(3)

In [84]:
l

[1, 2, 4, 3]

In [85]:
l.reverse()

In [86]:
l

[3, 4, 2, 1]

In [87]:
l.sort()

In [88]:
l

[1, 2, 3, 4]

Special thanks to Sten Ivan, for creating such an amazing repo <3  https://github.com/stenivan/python-zero-to-hero